.addOnCard{
  border: solid 1px grey;
  border-radius: 8px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;


  .checkBox{
    background-color: blue;
    font-size: 400px;
  }

  h2,p{
    margin: 0;
  }
  section{
    margin-left: 20px;
    width: 100%;
  }
  h2{
    font-size: large;
  }
}