@import "./variables";
@import "./mixins";

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $Light_blue;

  .content {
    display: flex;
    // height: 598px;
    background-color: $White;

    .levels {
      .itemsContainer {
        display: flex;
        padding-top: 40px;

        .items {
          display: flex;
          align-items: center;
          .numCon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            color: $White;
            border-radius: 50%;
            border: solid 1px $Light_gray;
          }
        }
        .active {
          .numCon {
            background-color: $Light_gray;
            color: #000;
          }
        }
      }
    }

    .right-section {
      display: flex;
      flex-direction: column;

      .details {
        main {
          width: var(--rightSectionContentWidth);
          .title {
            margin-bottom: 5px;
            color: $Marine_blue;
          }
          .desc {
            margin-bottom: 25px;
            color: $Cool_gray;
          }
        }
      }

      footer {
        // width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        height: 100px;
        div {
          width: var(--rightSectionContentWidth);
          display: flex;
          justify-content: space-between;

          button {
            border: none;
            text-transform: capitalize;
          }
          .back {
            color: $Cool_gray;
            padding: 0;
            background-color: $White;
          }
          .next {
            border-radius: 8px;
            padding: 5px 15px;
            color: $White;
            background-color: $Marine_blue;
          }
        }
      }
    }
  }
}

@include respond(large) {
  :root {
    --rightSectionContentWidth: 70%;
  }

  .content {
    border-radius: 15px;
    padding: 15px;
    width: 65%;

    .levels {
      background: url("../assets/images/bg-sidebar-desktop.svg") no-repeat
        center center;
      background-size: cover;
      // width:clamp(300px,500px, 40%);
      width: max(300px, 40%);
      border-radius: 15px;

      .itemsContainer {
        flex-direction: column;
        padding: 30px 0px;

        .items {
          width: max(166px, 60%);
          // background-color: #aef;
          margin-bottom: 20px;
          margin: 10px auto;

          .numCon {
            width: 40px;
            height: 40px;
          }
          .details {
            .step {
              color: $Cool_gray;
              margin: 0;
            }
            .title {
              margin: 0;
              color: $White;
              font-weight: 500;
            }
          }
        }
      }
    }
    .right-section {
      width: 100%;

      .details {
        main {
          margin: auto;
          padding: 45px 0;
          height: 100%;
        }
      }
    }
  }
}

@include respond(small) {
  :root {
    --rightSectionContentWidth: 90%;
  }
  .content {
    // width: 100%;
    flex-direction: column;

    .levels {
      background: url("../assets/images/bg-sidebar-mobile.svg") no-repeat center
        center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;

      .itemsContainer {
        // height: fit-content !important;
        padding: 0;
        margin-bottom: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .items {
          .numCon {
            width: 35px;
            height: 35px;
          }
          .details {
            display: none;
          }
        }
      }
    }

    .right-section {
      .details {
        background-color: $Magnolia;
        main {
          position: relative;
          top: -5.3rem;
          border-radius: 15px;
          padding: 40px 30px;
          background-color: #fff;
          margin: auto;
        }
      }
    }
  }
}
