main{
  form{
    div{
      margin-bottom: 20px;
      p{
        margin-bottom: 5px;
      }
      input{
        border-radius: 7px;
        border: 1px solid #0004;
        width: 100%;
        padding: 10px;
      }
    }
  } 
}