@import "./variables";
@import "./mixins";

.selectPlan {
  .planCard {
    border: solid 1px grey;
    border-radius: 15px;

    img {
      // background-color: #a38;
      width: 40px;
      height: auto;
    }

    section {
      p,
      h2 {
        margin-bottom: 0;
      }
      h2 {
        font-size: large;
      }
    }
  }

  .period {
    background-color: $Magnolia;
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    .button {
      background-color: $Marine_blue;
      margin: 15px 20px;
      height: 20px;
      width: 40px;
      border-top-left-radius: 12.5px;
      border-bottom-left-radius: 12.5px;
      border-top-right-radius: 12.5px;
      border-bottom-right-radius: 12.5px;

      .circle {
        background-color: #fff;
        margin: 4px 3px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        position: relative;
        // left: 22px;
      }
    }
  }
}

@include respond(large) {
  .selectPlan {
    .cardCompCon {
      display: flex;
      justify-content: space-between;

      .planCard {
        width: 30%;
        background-color: #fff;
        padding: 15px 10px;

        img {
          margin-bottom: 30px;
        }
        h2 {
          font-size: large;
        }
      }
    }
  }
}

@include respond(small) {
  .selectPlan {
    .planCard {
      display: flex;
      padding: 20px 15px;
      margin-bottom: 20px;

      img {
        margin-right: 20px;
      }

      section {
        h2 {
          margin-bottom: 3px;
        }
      }
    }
  }
}
